#root {
	display: inline;
}
.board_container {
	border: 2px darkslategrey solid;
	width: 24rem;
	height: 24rem;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 100%;
}
.column {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(8, 1fr);
}
.square {
	cursor: pointer;
	width: 3rem;
	height: 3rem;
	background-color: brown;
	color: white;
	text-align: center;
	line-height: 3rem;
}
.promote_white,
.promote_black {
	visibility: hidden;
	list-style: none;
}
.fig {
	cursor: pointer;
	display: inline-block;
	border: 1px solid black;
	width: 3rem;
	height: 3rem;
	background-size: 2.5rem;
	background-position: center;
	background-repeat: no-repeat;
}
.w {
	background-color: white;
	color: darkslategrey;
}
.column > div {
	background-size: 2.5rem;
	background-position: center;
	background-repeat: no-repeat;
}
.P {
	background-image: url("../assets/pawn_white.svg");
}
.R {
	background-image: url("../assets/rook_white.svg");
}
.N {
	background-image: url("../assets/knight_white.svg");
}
.B {
	background-image: url("../assets/bishop_white.svg");
}
.Q {
	background-image: url("../assets/queen_white.svg");
}
.K_e {
	background-image: url("../assets/king_white.svg");
}
.p {
	background-image: url("../assets/pawn_black.svg");
}
.r {
	background-image: url("../assets/rook_black.svg");
}
.n {
	background-image: url("../assets/knight_black.svg");
}
.b {
	background-image: url("../assets/bishop_black.svg");
}
.q {
	background-image: url("../assets/queen_black.svg");
}
.k {
	background-image: url("../assets/king_black.svg");
}
