body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 9fr 1fr;
	justify-content: center;
	padding: 0;
	margin: 0;
	min-height: 100vh;
	width: 100vw;
	background-color: #161512;
	color: #f0d9b5;
}
.main_footer {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	font-size: .8rem;
}
#root {
	background-color: transparent;
	display: flex;
	flex-direction: column;
	padding: 1.5rem .5rem;
}
.start_screen {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	margin: auto;
}
.button_set {
	display: flex;
	flex-direction: row;
}
button.play,
button.undo {
	max-width: max-content;
	align-self: flex-start;
	white-space: nowrap;
	color: #b58863;
	background-color: #161512;
	border-color: #b58863;
	height: auto;
	padding: .3rem .8rem;
}
button.start_button {
	max-width: max-content;
	align-self: center;
	height: auto;
	padding: .8rem 1.2rem;
}
.start_screen.hidden {
	display: none;
}
.control_panel.hidden {
	display: none;
}
.control_panel {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 90%;
	margin: auto auto 1rem;
}
.timer {
	font: 1.3em sans-serif;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 2rem;
}
.timer_black {
	padding: .5rem 1rem;
	background-color: black;
	text-align: center;
}
.timer_white {
	padding: .5rem 1rem;
	background-color: white;
	text-align: center;
}
.turn {
	font-size: 1.3rem;
	align-self: center;
}
.curr_player {
	text-transform: uppercase;
	font-weight: bold;
}
.board_container {
	margin: 1rem auto auto;
	border: 2px #f0d9b5 solid;
	width: 90vw;
	height: 90vw;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 100%;
}
.column {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(8, 1fr);
}
.square {
	cursor: pointer;
	width: 11.25vw;
	height: 11.25vw;
	background-color: #b58863;
	color: #f0d9b5;
	text-align: center;
	line-height: 11.25vw;
}
.bl.active_square {
	outline: .2rem solid #6e3200;
	outline-offset: -.2rem;
	background-color: #8a5021;
}
.w {
	background-color: white;
}
.w.active_square {
	outline: .2rem solid #8a5021;
	outline-offset: -.2rem;
	background-color: #b89d87;
}
.promote_white,
.promote_black {
	position: absolute;
	visibility: hidden;
	list-style: none;
}
.fig {
	cursor: pointer;
	display: inline-block;
	border: 1px solid black;
	width: 11vw;
	height: 11vw;
	background-size: 11vw;
	background-position: center;
	background-repeat: no-repeat;
}
.column > div {
	background-size: 11vw;
	background-position: center;
	background-repeat: no-repeat;
}
.P {
	background-image: url("../assets/pawn_white.svg");
}
.R {
	background-image: url("../assets/rook_white.svg");
}
.N {
	background-image: url("../assets/knight_white.svg");
}
.B {
	background-image: url("../assets/bishop_white.svg");
}
.Q {
	background-image: url("../assets/queen_white.svg");
}
.K {
	background-image: url("../assets/king_white.svg");
}
.p {
	background-image: url("../assets/pawn_black.svg");
}
.r {
	background-image: url("../assets/rook_black.svg");
}
.n {
	background-image: url("../assets/knight_black.svg");
}
.b {
	background-image: url("../assets/bishop_black.svg");
}
.q {
	background-image: url("../assets/queen_black.svg");
}
.k {
	background-image: url("../assets/king_black.svg");
}

@media (min-width: 720px){
	body {
		font-size: 1.1rem;
	}
	.timer {
		font: 1.4em sans-serif;
		display: flex;
		justify-content: flex-start;
		margin-top: 1rem;
	}
	.turn {
		font-size: 1.6rem;
		align-self: flex-start;
	}
	.board_container {
		width: 80vw;
		height: 80vw;
		margin: auto;
	}
	.square {
		width: 10vw;
		height: 10vw;
		line-height: 10vw;
	}
	.fig {
		width: 10vw;
		height: 10vw;
		background-size: 10vw;
	}
	.column > div {
		background-size: 10vw;
	}
}

@media (min-width: 1280px){
	body {
		font-size: 1.2rem;
	}
	#root {
		flex-direction: row;
		justify-content: space-around;
	}
	.control_panel {
		margin: auto -10rem auto auto;
		width: 20%;
	}
	.timer {
		font: 1.6em sans-serif;
		display: flex;
		justify-content: flex-start;
		margin-top: 2rem;
	}
	.turn {
		font-size: 1.8rem;
		align-self: flex-start;
	}
	.board_container {
		width: 36rem;
		height: 36rem;
		margin: auto;
	}
	.square {
		width: 4.5rem;
		height: 4.5rem;
		line-height: 4rem;
	}
	.fig {
		width: 4.5rem;
		height: 4.5rem;
		background-size: 4rem;
	}
	.column > div {
		background-size: 4rem;
	}
}
